In [5]:
import pandas as pd
import folium

In [6]:
# Load CSV
# dataset = "../data/dados_gnss/volta_eng_130126.txt"
dataset = "../data/dados_gnss/quarto_160126.txt"
df = pd.read_csv(dataset)
df.head(5)

,id,latitude,longitude,altitude,ground_speed,fix_quality,timestamp
0,262,-19.905132,-43.927797,835.17,0.0,1,1768569700352
1,262,-19.905132,-43.927797,835.17,0.0,1,1768569700352
2,262,-19.905132,-43.927797,835.17,0.0,1,1768569700352
3,262,-19.905132,-43.927797,835.17,0.0,1,1768569700352
4,262,-19.905132,-43.927797,835.17,0.0,1,1768569700352

In [7]:
df = df[df["latitude"] != 0]
df = df[df["longitude"] != 0]

In [8]:
# Create map centered on mean location
m = folium.Map(
    location=[df["latitude"].mean(), df["longitude"].mean()],
    zoom_start=12
)

# Plot each row as a point
for _, row in df.iterrows():
    folium.CircleMarker(
        location=[row["latitude"], row["longitude"]],
        radius=3,
        color="blue",
        fill=True,
        fill_opacity=0.7
    ).add_to(m)

# Save map
m.save("map.html")